Flask==1.1.2
Werkzeug==1.0.1
joblib==1.0.1
flask_bootstrap==3.3.7.1
flask_login==0.5.0
flask_sqlalchemy==2.5.1
flask_wtf==0.14.3
scikit_learn==0.24.1
WTForms==2.3.3
numpy
gevent
h5py
tensorflow==2.8.2
gunicorn
Pillow
matplotlib
jinja2<3.1.0
markupsafe
itsdangerous==2.0.1
